<h2 mat-dialog-title>Employee data form</h2>
<br>
<div mat-dialog-content>
  <form class="modal-data-form" [formGroup]="employeeDialogForm">
      <mat-form-field class="modal-input">
        <input matInput placeholder="Enter employee name:" formControlName="name">
        <mat-error *ngIf="this.employeeDialogForm['controls'].name.invalid && (this.employeeDialogForm['controls'].name.dirty
                || this.employeeDialogForm['controls'].name.touched)">*Required</mat-error>
      </mat-form-field>
    <mat-form-field class="modal-input">
      <input matInput placeholder="Enter job position:" formControlName="position">
      <mat-error *ngIf="this.employeeDialogForm['controls'].position.invalid && (this.employeeDialogForm['controls'].position.dirty
                || this.employeeDialogForm['controls'].position.touched)">*Required</mat-error>
    </mat-form-field>
    <mat-form-field class="modal-input">
      <input matInput placeholder="Enter experience:" formControlName="experience">
      <mat-error *ngIf="this.employeeDialogForm['controls'].experience.invalid && (this.employeeDialogForm['controls'].experience.dirty
                || this.employeeDialogForm['controls'].experience.touched)">*Required or must be numeric</mat-error>
    </mat-form-field>
    <mat-form-field class="modal-input">
      <input matInput placeholder="Enter nationality:" formControlName="nationality">
      <mat-error *ngIf="this.employeeDialogForm['controls'].nationality.invalid && (this.employeeDialogForm['controls'].nationality.dirty
                || this.employeeDialogForm['controls'].nationality.touched)">*Required</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <span class="filler"></span>
  <button mat-raised-button color="accent" matDialogClose>Cancel</button>
  <button mat-raised-button color="primary" (click)="sendData()">{{buttonName}}</button>
</div>
